{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1  class="my-4" align='center'>{% translate 'Statuses' %}</h1>
    <a href="{% url 'create_status' %}"><font color='darkblue' size='5'>{% translate 'Create Status' %}</font></a>
    <table class="table table-striped">
        <thead class='table-info'>
            <tr>
             <th>ID</th>
             <th>{% translate 'Name' %}</th>
             <th></th>
             <th>{% translate 'Date of creation' %}</th>
             <th></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td></td>
                <td>{{ status.created_at }}</td>
                <td><a href="{% url 'update_status' status.id %}">{% translate 'Update' %}</a>
                    <br>
                    <a href="{% url 'delete_status' status.id %}">{% translate 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
