{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4 mx-auto">{% translate 'Deletion User' %}</h1>

 <form method="post" class="mx-auto">
        {% csrf_token %}
        {% bootstrap_form form %}
    <p>{% trans 'Are you sure you want to delete' %} <font color='blue'>{{ object.username }}</font>?</p>
        {% bootstrap_form form %}
    <input class="btn btn-danger" type="submit" value="{% trans 'Yes, delete' %}">
</form>
</div>
{% endblock %}
